

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  #main {
    width: 70%;
    margin: auto;
  }

  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
    padding: 7%;
  }

  #btn-conatiner {
    width: 50%;
    margin: auto;
  }

  .log-btn {
    width: 100%;
    margin: auto;
    color: white;
    background-color: black;
    font-size: 26px;
    border-radius: 50px;
    cursor: pointer;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #main {
    width: 70%;
    margin: auto;
  }

  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
    padding: 7%;
  }

  #btn-conatiner {
    width: 30%;
    margin: auto;
  }

  .log-btn {
    width: 100%;
    margin: auto;
    color: white;
    background-color: black;
    font-size: 26px;
    border-radius: 50px;
    cursor: pointer;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #main {
    width: 70%;
    margin: auto;
  }

  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
    padding: 7%;
  }

  #btn-conatiner {
    width: 30%;
    margin: auto;
  }

  .log-btn {
    width: 100%;
    margin: auto;
    color: white;
    background-color: black;
    font-size: 26px;
    border-radius: 50px;
    cursor: pointer;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #main {
    width: 70%;
    margin: auto;
  }

  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
    padding: 7%;
  }

  #btn-conatiner {
    width: 30%;
    margin: auto;
  }

  .log-btn {
    width: 100%;
    margin: auto;
    color: white;
    background-color: black;
    font-size: 26px;
    border-radius: 50px;
    cursor: pointer;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    #main {
        width: 70%;
        margin: auto;
      }
    
      h2 {
        text-align: center;
      }
    
      img {
        display: block;
        margin: auto;
        padding: 7%;
      }
    
      #btn-conatiner {
        width: 30%;
        margin: auto;
      }
    
      .log-btn {
        width: 100%;
        margin: auto;
        color: white;
        background-color: black;
        font-size: 26px;
        border-radius: 50px;
        cursor: pointer;
      }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #main {
        width: 70%;
        margin: auto;
      }
    
      h2 {
        text-align: center;
      }
    
      img {
        display: block;
        margin: auto;
        padding: 7%;
      }
    
      #btn-conatiner {
        width: 30%;
        margin: auto;
      }
    
      .log-btn {
        width: 100%;
        margin: auto;
        color: white;
        background-color: black;
        font-size: 26px;
        border-radius: 50px;
        cursor: pointer;
      }
}
