*{
  font-size: 16px;
}

#prod-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.prod-box {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

#buy{
    background-color: black;
    color: white;
    width: 100%;
    margin: auto;
    border-radius: 50px;
    cursor: pointer;
}



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    #prod-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      
      .prod-box {
        width: 80%;
        height: 80vh;
        margin: auto;
        margin-top: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 4%;
      }
  }
  
  /* Small devices (portrait tablets and large phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    #prod-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      
      .prod-box {
        width: 80%;
        height: 80vh;
        margin: auto;
        margin-top: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 5%;
      }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    #prod-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      
      .prod-box {
        width: 80%;
        height: 80vh;
        margin: auto;
        margin-top: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 5%;
      }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #prod-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      
      .prod-box {
        width: 80%;
        height: 80vh;
        margin: auto;
        margin-top: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 5%;
      }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    #prod-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      
      .prod-box {
        width: 80%;
        height: 70vh;
        margin: auto;
        margin-top: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 5%;
      }
  }
  
  /* Extra extra large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    #prod-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }
      
      .prod-box {
        width: 80%;
        height: 70vh;
        margin: auto;
        margin-top: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 5%;
      }
  }
